:root {
  --main-button-color: rgb(65, 144, 255);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #121212;
  color: white;
}

header {
  background-color: var(--main-button-color);
  color: white;
  padding: 10px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.hidden {
  display: none;
}

main {
  text-align: center;
  max-width: 60rem;
  margin-inline: auto;
  min-height: 100vh;
}

.expandable {
  margin: 0px auto;
  border-radius: 10px;
  padding: 10px 20px;
  box-shadow: 0.8px 0.8px 2px;
}


@media only screen and (max-width: 500px) {
  main {
    padding-left: 25px;
    padding-right: 25px;
  }
}

.home h2 {
  font-size: larger;
}

.home h3 {
  font-size: large;
  padding-bottom: 20px;
  margin-bottom: 30px;
  border-bottom: 1px solid black;
}

.home ul {
  padding: 0px;
  list-style: upper-roman;
  margin: 0px;
}

.home li {
  margin: 20px 0px 0px;
  text-decoration: underline;
  color: rgb(0, 99, 220)
}

.secondary-text {
  color: white
}


.banner {
  display: flex;
  justify-content: center;
  align-items: center; 
  font-weight: bold;
  font-size: 50px;
  color: black;
  -webkit-text-fill-color: rgba(255, 255, 255, 0); /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: rgb(247, 247, 247);
  font-family: Arial, Helvetica, sans-serif;
}

.bottomBanner {
  width: 100%;
}

footer {
  background-color: rgb(35, 38, 40); 
  font-size: small; 
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-items: center; 
  align-items: center;
  color: white;
  fill: white;
  padding: 30px 1px;
}

footer a {
  padding: 2px;
  display: flex;
  align-items: center;
  justify-items: center;
}

footer div {
  display: flex;
}

footer a p {
  margin-left: 2px;
}


.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.blockin-button {
  background: linear-gradient(#98d1fc, #1c8fe7);
  opacity: 0.85;
  color: black;
  padding: 12px 15px;
  font-weight: 600;
  border-radius: 10px;
  cursor: pointer;
}

.blockin-button:hover {
    opacity: 1;
}

.blockin-button:disabled {
    cursor:not-allowed;
}


.blockin-button {
  width: 120px;
  height: 50px;
  padding: 4px 8px;
  justify-content: center;
  border: 1px solid black;
  align-items: center;
  gap: 8px;
  border-radius: 39px;
  background: #1890ff;
  cursor: pointer;
  color: white;
  font-weight: bold;
  opacity: 1;
}

.blockin-button:disabled {
  background-color: lightgray;
  color: white;
  opacity: 0.5;
  cursor: not-allowed;
}

.blockin-button:hover {
  border: 1px solid black;
  opacity: 1;
  background: inherit;
  border: 1px solid #1890ff;
  color: #1890ff;
}

.blockin-button-secondary {
  background: inherit;
  color: inherit;
  opacity: 1;
  padding: 5px 8px;
  font-weight: 600;
  border-radius: 10px;
  cursor: pointer;
  border: 2px solid gray;
}

.blockin-button-secondary:hover {
    opacity: 1;
    border: 2px solid black;
}

.blockin-button-secondary:disabled {
    cursor:not-allowed;
}